<div class="container-fluid">
  <button class="btn btn-success col-md-12 text-center" (click)="randomCities()">Random Cities</button>
  <ngx-skeleton-loader
    *ngIf="!citiesWeather.length; else elseBlock"
    count="10"
    appearance="circle"
    [theme]="{
      width: '159px',
      height: '237px',
      'border-radius': '10px',
      'margin-top': '50px'
    }"
  >

  </ngx-skeleton-loader>

  <ng-template #elseBlock>
    <div class="CitiesContainer">
      <app-weather-sum
        *ngFor="let cityWeather of citiesWeather"
        [cityWeather]="cityWeather"
        (clicked)="handleClick($event)"
      ></app-weather-sum>
    </div>
  </ng-template>
</div>
